/* body {
    background-color: #1d1c1c;
} */
a {
    cursor: pointer;
}

#header {
    height: 95px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #6a62b3;
}
#logo {
    height: 95px;
    width: fit-content;
    padding-left: 50px;
}
#logo img{
    height: 100%;  
}

#nav {
    padding-right: 50px;
}
#nav li{
    display: inline;
    line-height: 95px;
    float: left;
    
}

#nav a {
    text-decoration: none;
    padding: 0 20px;
    display: block;
    font-size: 1.5em;
}

#nav a:hover{
    background-color: #6a62b3;
    color: #ffffff;
    transition: ease-in-out 500ms;
}

.getting-involve {
    display: flex;
    padding: 50px;
}

.getting-involve-img{
    width: 50%;
}


.getting-involve-img img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    
}

.getting-involve-img h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #6a62b3;
}
.getting-involve-txt{
    padding-top: 50px;
    width: 50%;
}

.getting-involve-txt p{
    font-size: 1.2em;
}


